requests 
beautifulsoup4 
pandas
matplotlib
pyhtml2md
networkx
scipy
pyvis
colorsys
langchain
langgraph
langchain_community
langchain-openai
langchain-ollama
pywikihow
sentence_transformers
evaluate
nltk==3.6.7
yaml
torchvision
rouge_score
accelerate
vllm